/* For all webpages */

    

body {
    background-color: #DCF0FA;
    overflow-y :scroll;
}

p {
    font-family:Calibri
}



/*Homepage*/
.homepage_sections {
    border-style: solid;
    border-width: 2px;
    border-color:white;
    width:100%;
    height:300px;
    background-color:#DCF0FA;
    position:fixed;
    
}

.opening {
    width:600px;
}

p.opening {
    font-size:20px;
    
}

#eightball {
    width:100px;
    height:100px;
    margin-left: 50px
}

#welcome{
    position: fixed;
    top:90px;
    z-index: -1;
    
}
#action_section {
    position:fixed;
    top:390px;
    width: 600px;
    height:350px;
}



#logo {
   position:fixed;
  left:0px;
   top:0px;
   height:50px;
}

#bs-example-navbar-collapse-1 {
    
    margin-left: 40px;
    
}

.navbar navbar-default {
    z-index: 1
}


#topten {
    position: fixed;
    left:600px;
    top:100px;
    border-style: dashed;
    border-color:white;
    border-width: 3px;
    font-size: 15px;
    
}

#adventure_selection {
    width:600px;
    position:fixed;
    top:390px;
    left:600px;
    height: 350px
}

#twoswords {
    height:100px;
    width: 100px;
    position: fixed;
    top:450px;
}

#boom {
    height:100px;
  
}


.gameImages {
    width:100px;
}


#agar {
    position: fixed;
    top:550px;
    
}

#agario_description {
    position: fixed;
    top:550px;
    width:470px;
    margin-left: 110px
}

#ninja {
    position: fixed;
    top:630px;
}
#ninja_description {
    position: fixed;
    top: 630px;
    margin-left: 110px;
}

#seeMore {
    
    position: fixed;
    top:680px;
    left:500px;
}

#hello {
    position:relative;
    margin-top: 350px;
    border:solid black 5px;
    width:400px;
    height:400px;
  }


#8ballpool {
    position: fixed;
    top:400px;
}


.title {
    text-align: center;
    margin:auto;
    margin-top:5%;
    padding-bottom: 5px
}


.miniclip-game-embed {
    margin:auto;
    
}

.pageTitle:hover {
    color:white;
    
}

#slideShow {
    border:1px black solid;
}

#aboutDescription {
    border:solid black 1px;
    padding: 3px 3px 3px 10px;
}