<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhmtl1-transitional.dtd">
<html lang = "en">
    <head>
        <meta charset="utf-8"/>
        <title>Play Acid Factory</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="JS_Files/slideshow.js"></script>
        <script src="//static.miniclipcdn.com/js/game-embed.js"></script>
        <link rel="stylesheet" href="../static/CSS_Files/styleSheet.css" type="text/css" />
        </head>
    
    <body>
    <!-- Start of navigation bar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div id = "logo"><a class="navbar-brand" href="#"><img id = "logo" src="../static/Images/igloologo.png"></img></a></div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id = "games_dropdown">Games<span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li>
                  <a href="{{url_for('Action')}}">Action</a>
                </li>
                <li>
                  <a href="{{url_for('Adventure')}}">Adventure</a>
                </li>
                <li>
                  <a href="{{url_for('Puzzle')}}">Puzzle</a>
                </li>
                <li>
                  <a href= "{{url_for('Shooter')}}">Shooter</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{url_for('About')}}">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li>
              <a href="{{url_for('Contact')}}">Contact</a>
            </li>1q2q5\6
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
    <!--End of navigation bar-->
      
  <div class = "col-sm-12">
    <div class = "col-sm-">  
      <h1 class = "title">Acid Factory</h1>
  <div style = "margin:auto" class = "title">
 <div class="miniclip-game-embed" data-game-name="acid-factory" data-theme="0" data-width="782" data-height="501" data-language="en"><a href="http://www.miniclip.com/games/acid-factory/">Play Acid Factory</a></div>
<p style="text-align:center;"><a href="http://www.miniclip.com/games/acid-factory/" target="_blank">Play Acid Factory</a> / More <a href="http://www.miniclip.com/games/genre-1/" target="_blank">Puzzle games</a></p>



      </div>
    </div>
  </div>    
</body>
        