<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhmtl1-transitional.dtd">
<html lang = "en">
    <head>
      <meta charset="utf-8"/>
      <title>Contact</title>
        
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="JS_Files/slideshow.js"></script>
      <script src="//static.miniclipcdn.com/js/game-embed.js"></script>
      <link rel="stylesheet" href="../static/CSS_Files/styleSheet.css" type="text/css" />
      <script>
        function startTime() {
          var time = new Date();
          var hours = time.getHours();
          var mins = time.getMinutes();
          var secs = time.getSeconds();
          mins = checkTime(mins);
          secs = checkTime(secs);
          document.getElementById('clock').innerHTML =
          hours + ":" + mins + ":" + secs;
          var t = setTimeout(startTime, 500);
          }
        function checkTime(t) {
          if (t< 10) {
            t = "0" + t};  // add zero in front of numbers < 10
          return t;
          }
      </script>
        
    </head>
    
    <body onload = "startTime()">
    <!-- Start of navigation bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo">
            <a class="navbar-brand" href="#">
            <a href = "{{url_for('index')}}"><img id="logo" src="../static/Images/igloologo.png"></a>
          </div>
        </div>
      </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="games_dropdown">Games
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('Action')}}">Action</a></li>
              <li><a href="{{url_for('Adventure')}}">Adventure</a></li>
              <li><a href="{{url_for('Puzzle')}}">Puzzle</a></li>
              <li><a href="{{url_for('Shooter')}}">Shooter</a></li>
            </ul>
          </li>
          <li>
            <a href="{{url_for('About')}}">About
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('Contact')}}">Contact</a>
          </li>
        </ul>
      </div>
        <!-- /.navbar-collapse -->
    
    </nav>
    
    
    <!-- Questionnaire -->
  
  {% extends 'bootstrap/base.html' %}

  {% block title %}
    Form using bootstrap
  {% endblock %}

  {% block content %}
  
  <div class="fluid-container">  
    <div id="form-main" class = "col-sm-12">
      <div class = "col-sm-3">
        <div class = "col-sm-3" id = "clock">
        </div>
          <h1 class = pageTitle> Contact </h1>
            <p style = "padding-left:20px">If you would like to contact me regarding the website, please enter your details and a comment regarding any imporvements you feel are necessary:</p>
        </div>
        <div class = "col-sm-6">  
          <div id="form-div" >
            <form class="form" id="form1" method = "post" action = "">
              
              <p class = "name">
                <input type="text" name="Username" class= "feedback-input" placeholder = "User Name" id = "name"/>
              </p>
              <p class="name">
                <input name="Firstname" type="text" class="feedback-input" placeholder=" First Name" id="name" />
              </p>
              
              <p class = "name">
                <input name = "Secondname" type = "text" class = "feedback-input" placeholder = "Second Name" id = "name" />
              </p>  
              
              <p class="email">
                <input name="email" type="text" class=" feedback-input" id="email" placeholder="Email" />
              </p>
      
              <p class="text">
                <textarea name="comment" class="feedback-input" id="comment" placeholder="Comment"></textarea>
              </p>
      
          {{% if name %}}
            <p> Your name is: {{ name }}</p>
            <p>and your comments are: {{ comment }}</p>
            <p>Thank you for your inpur</p>
          {% endif %}
      
      <div class="submit">
        <input type="submit" value="SEND" id="button"/>
        <div class="ease"></div>
            
          {% endblock %}
            </div>
          </form>
        </div>
      </div>  
    </div>
  </div>