<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhmtl1-transitional.dtd">
<html lang = "en">
  <head>
    <meta charset="utf-8"/>
    <title>Shooter</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="JS_Files/slideshow.js"></script>
        <script src="//static.miniclipcdn.com/js/game-embed.js"></script>
        <link rel="stylesheet" href="../static/CSS_Files/styleSheet.css" type="text/css"/>
        </head>
    
    <body>
    <!-- Start of navigation bar -->
     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo">
            <a class="navbar-brand" href="#">
            <a href = "{{url_for('index')}}"><img id="logo" src="../static/Images/igloologo.png"></a>
          </div>
        </div>
      </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="games_dropdown">Games
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('Action')}}">Action</a></li>
              <li><a href="{{url_for('Adventure')}}">Adventure</a></li>
              <li><a href="{{url_for('Puzzle')}}">Puzzle</a></li>
              <li><a href="{{url_for('Shooter')}}">Shooter</a></li>
            </ul>
          </li>
          <li>
            <a href="{{url_for('About')}}">About
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="{{url_for('Contact')}}">Contact</a>
          </li>
        </ul>
      </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- End of navigation bar -->
    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="col-sm-9">
          <h1>Shooter</h1>
          <div class="col-sm-6">
              <img class="img-responsive" id = "boom" src="../static/Images/gun.png" />
            </div>
          <p class="col-sm-9">If youre looking for intense action packed games, you have come to the right place!</p>
          
          <div class="col-sm-12">
              <div class="col-sm-4">
                <img class="img-responsive" src="../static/Images/Commandonew.jpg" />
              </div>
              <div class="col-sm-8">
                <p>If you enjoy intense shooters, Commando is the game for you!
                  <br/>
                  <a href="{{url_for('Commando')}}">
                    <u>Play Now</u>
                  </a>
                </p>
              </div>
            </div>
          <div class="col-sm-12">
              <div class="col-sm-4">
                <img class="img-responsive" src = "../static/Images/fraggerbonus.jpg" />
              </div>
              <div class="col-sm-8">
                  <p>Play Fragger, a game where you set the power and aim with the mouse then click to throw the grenades and blow up your targets!
                  <br/>
                  <a href = "{{url_for('Fragger')}}">
                    <u>Play Now</u>
                  </a>
                 </p>
              </div>
              </div>
          <div class = "col-sm-12">
                <div class = "col-sm-4">
                  <img  class = "image-responsive" src= "../static/Images/commandodefensev2.jpg"/>
                    </div>
                    <div class = "col-sm-8">
                      <p>Our hero is on the defensive, take control of Commando's towers!
                      <br/>
                      <a href= "{{url_for('CommandoDefence')}}">
                        <u>Play Now</u>
                        </a>
                    </p></div>
                   </div>
          <div class = "col-sm-12">
              <div class = "col-sm-4">
                <img src = "../static/Images/RotorStorm.jpg"/>
                </div>
                <div class = "col-sm-8">
                  <p> Play Rotor Storm, Where you enjoy explosive helicopter warfare!
                  <br>
                  <a href = "../HTML_Files/"><u>Play Now</u></a>
                  </p>
                </div>
                </div>
          <div class = "col-sm-12">
                <div class = "col-sm-4">
                  <img src = "../static/Images/stealthsniperv3.jpg"/>
                </div>
                <div class = "col-sm-8">
                  <p>Play Stealth Sniper, where you take aim from the shadows
                  <br>
                  <a href = "{{url_for('StealthSniper')"><u>Play Now</u></a>
                  </p>
                </div>
              </div>
                
        </div>  
              

              
              
        <div class="col-sm-3">      
            <u>Top 10</u>
            <ol>
              <li><a href = "../HTML_Files/8BallPool.html">8 Ball Pool</a></li>
              <li>Cut the Rope</li>
              <li><a href = "../HTML_Files/Agar.io.html">Agar.io</a></li>
              <li>On the run</li>
            </ol>
        </div>
      </div>
    </div>
  </body>
</html>